/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
    background-color: #f5f5f5;
}

nav {
    background-color: #563d7c
}

.navbar-light .navbar-brand {
    color: white;
}

.navbar-light .navbar-nav .nav-link {
    color: rgba(249, 249, 249, 0.5) !important;
}

.navbar-light .navbar-nav .active>.nav-link{
    color: white;
}



/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
    padding: 60px 15px 0;
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

code {
    font-size: 80%;
}

.pagination-centered {
    text-align: center;
}

.disabled {
    pointer-events: none;
    opacity: 0.5;
}

.pointer-disabled {
    pointer-events: none;
}

.pagination {
    display: inline-block;
}

.pagination li {
    color: black;
    float: left;
/ / padding: 8 px 16 px;
    text-decoration: none;
    border: 1px solid #ddd;
    width: 30px;
    height: 30px;
    text-align: center;
    font-size: 10px;
}

.pagination li.active {
    background-color: #3881af;
    border: 1px solid #3881af;
}

.pagination li.active a {
    color: white;
}

.pagination li a {
    display: block;
    width: 30px;
    height: 30px;
    padding-top: 5px;
}

.pagination li:hover:not(.active) {
    background-color: #ddd;
}

.pagination li:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.pagination li:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

select.cust-style:not([size]):not([multiple]) {
    height: calc(2.25rem + 6px) !important;
}