<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layouts/layout}">

<head>
    <title>Countries</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col" layout:fragment="content">
            <h1>Countries list</h1>
            <div class="row table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr class="table-dark">
                        <th> # </th>
                        <th> Code</th>
                        <th> Code</th>
                        <th> Name</th>
                        <th> Native name</th>
                        <th> Capital</th>
                        <th> Demonym</th>
                        <th> Region</th>
                        <th> - </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:if="${itemsPage.content.empty}">
                        <td colspan="2"> No Countries Available</td>
                    </tr>
                    <tr th:each="item, iStat : ${itemsPage.content}" th:alt-title="${iStat.even}? 'even' : 'odd'">
                        <td><img th:src="${item.flag}" width="25" height="25"/></td>
                        <td><span th:text="${item.alpha3Code}"> </span></td>
                        <td><span th:text="${item.alpha2Code}"> </span></td>
                        <td>
                            <a th:href="@{/country/findByName/{name}(name=${item.name})}" th:text="${item.name}"></a>
                        </td>
                        <td><span th:text="${item.nativeName}"> </span></td>
                        <td><span th:text="${item.capital}"> </span></td>
                        <td><span th:text="${item.demonym}"> </span></td>
                        <td><span th:text="${item.region}"> </span></td>
                        <td style="cursor: hand">
                            <a th:href="@{/country/findByName/{name}(name=${item.name})}" th:text="'Detail'"></a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="row">
                <div th:if="${itemsPage.totalPages != 1}" class="page-nation">
                    <ul class="pagination  pagination-large">
                        <li th:class="${itemsPage.number == 0} ? disabled">
                            <a class="pageLink" th:href="@{/country/list(size=${selectedPageSize}, page=1, name=${name}, fieldName=${fieldName})}">&laquo;</a>
                        </li>
                        <li th:class="${itemsPage.number == 0} ? disabled">
                            <a class="pageLink" th:href="@{/country/list(size=${selectedPageSize}, page=${itemsPage.number}, name=${name}, fieldName=${fieldName})}">&larr;</a>
                        </li>
                        <li th:class="${itemsPage.number == (page - 1)} ? 'active pointer-disabled'"
                            th:each="page : ${pageNumbers}">
                            <a class="pageLink" th:href="@{/country/list(size=${selectedPageSize}, page=${page}, name=${name}, fieldName=${fieldName})}"
                               th:text="${page}"></a>
                        </li>
                        <li th:class="${itemsPage.number + 1 == itemsPage.totalPages} ? disabled">
                            <a class="pageLink"
                               th:href="@{/country/list(size=${selectedPageSize}, page=${itemsPage.number + 2}, name=${name}, fieldName=${fieldName})}">&rarr;</a>
                        </li>
                        <li th:class="${itemsPage.number + 1 == itemsPage.totalPages} ? disabled">
                            <a class="pageLink"
                               th:href="@{/country/list(size=${selectedPageSize}, page=${itemsPage.totalPages}, name=${name}, fieldName=${fieldName})}">&raquo;</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>